{{!-- <ul class="gallery_list js-gallery_list"> --}}
<li class="gallery-list__item" data-id="{{id}}">
  <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}}" width="280" height="403"
    class="gallery-list__item_image" />
  <a href="#" class="gallery-list__item_link">
    <h3 class="gallery-list__item_title">{{title}}</h3>
    <div class="filmInfo">
      <ul class="filmInfo__genre-list">
        {{#each genre_ids}}
        <li class="filmInfo__genre-list_item">
          <span class="filmInfo__genre-list_item-genre">{{this}}</span>
          {{/each}}
        </li>
        <li class="filmInfo__list">
          <span class="filmInfo__slash">|</span>
        </li>
        <li class="filmInfo__list">
          <span class="filmInfo__year">{{release_date}}</span>
        </li>
      </ul>
    </div>
  </a>
</li>
{{!-- </ul> --}}